<h2>Portfolio</h2>
  <div class="card">
   <div class="wrapper">
    <figure>
        <img src="./img/earth.jpg" alt="earth">
    <figcaption>Earth</figcaption>
    </figure>
    <figure>
        <img src="./img/globe.jpg" alt="Global World">
    <figcaption>Global World</figcaption>
    </figure>
    <figure>
        <img src="./img/money_2.jpg" alt="Save Money">
    <figcaption>Save Money</figcaption>
    </figure>
    <figure>
        <img src="./img/money.jpg" alt="Value Of Money">
    <figcaption>Value Of Money</figcaption>
    </figure>
    <figure>
        <img src="./img/plant.jpg" alt="Stop GMO">
    <figcaption>Stop GMO food</figcaption>
    </figure>
    <figure>
        <img src="./img/Gmo.jpg" alt="Genetically Modified Organism">
    <figcaption>Genetically Modified Organism</figcaption>
    </figure>
</div>
</div>